.Subscriptions--item {
  background: white;  
  
  max-width: 256px;
    /* -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; */
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  padding-right: 6px;
  
}

.Subscriptions--item span {
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Subscriptions--item img {
  height: 68px;
  width: auto;
  flex-shrink: 0;
  flex-grow: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-right: 8px;
}

/*Иначе на даблклик по li элементу подсвечивает img в нижнеследующем li*/
.Subscriptions--item img::selection {
  background:transparent;
}

